<%
read ||= {} unless read == false
delete ||= {} unless delete == false 
update ||= {} unless update == false
%>
<div class="rud">
  <%= rud_links model, read: read, delete: delete, update: update  %>
</div>