// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.status {
	margin:0;
	position: relative;
	padding: 10px 0;
	min-height: 100px;
	width: 50%;
	clear:both;

	.content {
		padding: 1% 3%;
		box-shadow: 0 5px 10px #ccc;
		&:hover {
			background: #FAFAFA;
		}
	}

	h4 {
		margin-top: 0;
		padding-top: 10px;
	}

	&:after {
		content:".";
		visibility: hidden;
	}
	
	.update-delete {
		display: none;
	}

	&:hover > .update-delete{
		display: inline;
	}
	.inline-comment-form {
		@extend .inline-status-form;
		*{
			margin:0;
			display: inline;
			box-sizing: border-box;
		}
		textarea {
			
			float:none;
			border-radius: 10px !important;
			padding: .5em 2% 0; 
			margin: 1% 2% 0 1%;
			width: 95% !important;
			border-top: 0 !important;
			line-height: 1em;
			display: inline;

			&:focus {
				background: #ffe !important;
			}
		}
		.form-actions {
			display: none !important;
		}
	}
	.comment-list {
		margin: 2% 2% 0;
		width: 96%;
		background: #ffe;
		display:none;

		.comment {
			border-bottom: dotted 1px #666;
			padding: 1% 3%;
			//height: 100px;
			p {
				background: rgba(255,255,255,0.5);
				padding:3%;
				margin: 1% 0 0 0;
				//text-align: middle;
			}

			.update-delete {
				display: inline;
			}

			& > .buttons {
				//border: dashed 1px red;
				.counter {

				}
			}
			&:hover > .update-delete{
				display: inline;
			}
			h6 {
				margin: 0
			}
		}
	}
}



.inline-status-form {
	.controls{
		margin:0;
	}
	.form-actions {
		background: none;
		.btn{
			@extend .btn-primary;
		}
		margin:0;
		padding: 0;
		border:0;
		display:none;
	}

	.control-group {
		margin-bottom: 5px;
		textarea{
			border-radius:0;
			border:none;
			border-top:.1em solid #ccc;
			resize:none;
			width:98% !important;
		}
		textarea:focus {
			background: #FAFAFA;
			display:block;
		}
	}
}