// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.status {
	border-bottom: solid 1px #ccc;
	margin:0;
	position: relative;
	padding: 10px 0;
	min-height: 100px; 
	max-height: 100px;
	clear:both;

	h4 {
		margin-top: 0;
		padding-top: 10px;
	}

	

	&:after {
		content:".";
		visibility: hidden;
	}
	
	.update-delete {
		display: none;
	}

	&:hover .update-delete{
		display: inline;
	}

	&:hover {
		background: #FAFAFA;
	}

}